@media (max-width: 900px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 6px;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 6px;
  }
  body {
    padding: 0;
  }
  .section-about {
    padding: 5rem;
  }
  .btn_bottom-to-top_sqrl {
    width: 104%;
    text-align: center;
  }
}
