.btn
    position: relative
    &:link, &:visited
        @include style-link($color-gray)
        padding: 1.5rem 4rem
        border-radius: 50px
        background-color: #ffffff
        font-size: 2rem
        font-weight: 500
        transition: .1s
        transition: .5s
    &:hover
        transform: translateY(-3px)
        transition: .1s
        background-color: rgba(181, 130, 63, 0.747)
        color: #FFFFFF
        &::after
            transform: scaleX(0) scaleY(0)
            opacity: 0
            transition: .5s
            
    &:active
        transform: translateY(-1px)
    &::after
        content: ""
        background-color: #FFFFFF
        width: 100%
        height: 100%
        border-radius: 5rem
        display: inline-block
        position: absolute
        top: 0
        left: 0
        z-index: -10
        transition: .5s
    &_animated
        animation: btnStart 1s ease .3s
        animation-fill-mode: backwards
